.card {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.img {
    width: 90%;
    height: 180px;
    margin: 20px 0;
}

.desc {
    color: #333;
    margin-bottom: 20px;
    line-height: 25px;

}

.cardButton {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(53, 16, 102, 0.678);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.favourite{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link {
    color: inherit;
    text-decoration: none;
}

.title {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}